* {
/*  border: 1px solid pink;*/
  box-sizing: border-box;
  font-family: 'Open Sans', Optima, sans-serif;
  margin:0;
  padding:0;
}

header {
	background-color: #404041;
	height: 15vh;
	text-align: center;
}

header h1 {
	color: #DD1972;
	font-family:'Open-Sans', sans-serif;
	font-weight: 700;
}

header span {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
}

header h2 {
	color: #ffffff;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
}

.header-line {
	text-decoration: line-through solid #f7f7f7;
	color: #404041;
}

main {
	display: flex;
	height:85vh;
	flex-direction: row;
	justify-content: space-around;
}

section {
	display: flex;
	flex-direction: column;
	width: 50%;
}

div {
	background-color: #ffffff;
}

.user-input {
	align-items: center;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.input-range {
	height: 15%;
	width: 95%;
	/*display:flex;
	flex-direction: column;*/
}

.input-range p {
	font-weight: 700;
	color:#6e6e6e;
	padding-bottom: 15px;
}

.min-range,
.max-range {
	display:inline-block;
	height: 30px;
	width: 150px;
}
.range-update {
	background-color: #6E6E6E;
	color: #ffffff;	
	width: 100px;
	height: 20px;
	border-radius: 40px;
}

.input-challenger {
	display: flex;
	flex-direction: column;
	height:42%;
	width: 95%;
}

.input-challenger div p {
	font-weight: 700;
	font-size: 16px;
	color: #6e6e6e;
	padding-bottom: 20px;
}

.challenger-1-container,
.challenger-2-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.challenger-1,
.challenger-2 {
 width: 250px;
 height: 30px;
}

.guess-1,
.guess-2 {
	width: 150px;
	height:30px;
}

.min-num,
.max-num {
	text-decoration: underline;
	font-weight: 700;
	min-width: 1em;
}

.bottom-buttons {
	display: flex;
	height:20%;
	justify-content: space-around;
	align-items: flex-end;
}

.submit-guess,
.reset-game,
.clear-game {
	width: 150px;
	height:25px;
	color: #ffffff;
	background-color: #6e6e6e;
	border-radius: 40px;
}

.latest-score-container {
	height: 38%;
	width: 95%;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
}

.latest-score {
	height:95%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
}

.latest-score div {
	height:95%;
	width: 50%;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: space-around;
}

.latest-score-1,
.latest-score-2,
.latest-score-title {
	color: #6e6e6e;
	font-weight: 700;
}
.latest-score-title {
	display: inline-block;
}

.latest-score-guess-1, 
.latest-score-guess-2 {
	font-size: 60px;
	color: #F74D9B;
	font-weight: 700;
}

.history {
	display: flex;
	flex-direction:column;
	background-color: #d0d2d3;
	justify-content: space-around;
	align-items: center;
	border: gray solid 1px;	
}

.card-title {
	text-decoration: underline;
	font-weight: 300;
}
.card-title-chal-1,
.card-title-chal-2 {
	font-weight: 700;
}

.card-container {
	background-color: #ffffff;
	color: #6e6e6e;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 95%;
	height: 30%;
}

.card-1 {
	/*visibility: hidden;*/
}

.card-footer {
	width:100%;
	height: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}


