* {
 /* border: 1px solid pink;*/
  box-sizing: border-box;
  font-family: 'Open Sans', Optima, sans-serif;
  margin:0;
  padding:0;
}

header {
	background-color: #404041;
	text-align: center;
	padding-bottom: 15px;
}

header h1 {
	color: #DD1972;
	font-family:'Open-Sans', sans-serif;
	font-weight: 700;
	font-size: 175%%;
}

header span {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
}

header h2 {
	color: #ffffff;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	font-size: 80%;
}

.header-line {
	text-decoration: line-through solid #f7f7f7;
	color: #404041;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-input,
.history {
	display: flex;
	flex-direction: column;
	width: 50%;
}

div {
	background-color: #ffffff;
}

.user-input {
	align-items: center;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.input-range {
	border: 1px solid #D0D2D3;
	display:flex;
	flex-direction: column;
	justify-content: space-between;	
	margin-bottom: 10px;
	padding: 10px;
	width: 98%;
}

.min-max-range-container {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 10px;
}

.min-range-container,
.max-range-container {
	display: flex;
	flex-direction: column;
	font-size: 75%;
	width:40%;
}

#set-range-header {
	align-self: flex-start;
	color:#6e6e6e;
	font-weight: 700;
	padding-bottom: 5px;
	width: 50%;	
}

.min-range,
.max-range {
	margin-right: 15px;
	height:30px;
}

.min-max-error,
.guess-1-error-msg,
.guess-2-error-msg, 
.guess-1-range-error-msg,
.guess-2-range-error-msg {

	color: #DD1972;
	font-size: 75%
}

.error {
	border: 2px solid #DD1972;
}

.hidden {
	display: none;
}
/*update button*/
.range-update {
	background-color: #6E6E6E;
	border-radius: 40px;
	color: #ffffff;	
	font-weight: bold;
	height: 30px;
	width: 20%;
}

.current-range {
	align-self: flex-start;
	text-align: left;
}

.min-num,
.max-num {
	text-decoration: underline;
	font-weight: 700;
	min-width: 1em;
}

.input-challenger {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 98%;
	padding: 5px;
	margin-bottom: 10px;
	border: solid 1px #D0D2D3;
}

.challenger-header {
	font-weight: 700;
	font-size: 16px;
	color: #6e6e6e;
	padding-bottom: 5px;
	align-self: flex-start;
}

.challenger-one,
.challenger-two {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.challenger-two {
	margin-bottom: 10px;
}

.chal-name-input-field,
.chal-guess-input-field {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.challenger-1,
.challenger-2 {
 height: 30px;
 width: 100%;
}

.guess-1,
.guess-2 {
	height:30px;
	width: 100%;
}

.bottom-buttons {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	height:20%;
	justify-content: space-between;
	width: 100%;
}

.submit-guess,
.reset-game,
.clear-game {
	background-color: #6e6e6e;
	border-radius: 40px;
	color: #ffffff;
	font-weight: bold;
	height:35px;
	margin-left: 5px; 
	margin-top: 5px;
	width: 32%;
}

.clear-game:hover,
.reset-game:hover,
.submit-guess:hover,
.range-update:hover {
	background-color: #DD1972;
}

.clear-game:disabled,
.reset-game:disabled {
	background-color: #D0D2D3;
}

.latest-score-container {
	border: solid 1px #D0D2D3;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	padding-bottom: 15px;
	width: 98%;
}

.latest-score {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	height:95%;
	justify-content: space-around;
	margin-top: 5px;
}

.latest-score div {
	align-items: center;
	display: flex;
	flex-direction:column;
	height:95%;
	justify-content: space-between;
	width: 50%;
}
#challenger-1-line {
	border-right: solid gray 1px;
}

.latest-score-1,
.latest-score-2,
.latest-score-title {
	color: #6e6e6e;
	font-weight: 700;
}
.latest-score-title {
	display: inline-block;
}

.latest-score-guess-1, 
.latest-score-guess-2 {
	color: #F74D9B;
	font-size: 70px;
	font-weight: 700;
}

.history {
	align-items: center;
	background-color: #d0d2d3;
	border: gray solid 1px;	
	display: flex;
	flex-direction:column;
	font-family: 'Open-Sans', sans-serif;
	justify-content: space-around;
}

.card-title {
	font-weight: 300;
	font-size: 16px;
}
.card-title-chal-1,
.card-title-chal-2 {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}

.horizontal-rule{
	color: #ffffff;
	text-decoration: line-through solid #d0d2d3;
}

.card-container {
	align-items: center;
	background-color: #ffffff;
	border: solid 1px gray;
	color: #6e6e6e;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px;
	visibility: hidden;
	width: 95%;
}

.card-title-container {
	display: flex;
	flex-direction: row;
}

.card-winner-name{
	font-size: 125%;
	font-weight: 700;
	text-transform: uppercase;
}
.card-winner {
	font-size: 150%;
}

.card-footer {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	height: 20px;
	justify-content: space-between;
	width:100%;
}
/*RESPONSIVITY*/

/*desktop*/
@media only screen and (min-width: 601px) and (max-width: 1000px){
	.body {
		margin: 0 auto;
	}

	.min-range,
	.max-range,
	.challenger-1,
	.challenger-2,
	.guess-1,
	.guess-2 {
		
		border: solid 1px #D0D2D3;
	}	
};

/*mobile */
@media only screen and (min-width:318px) and (max-width: 600px){
	
	main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

	header h2{
		font-size: 75%;
}

	header h2 span {
		font-size: 75%;
}

	.min-max-range-container {
		align-items:flex-start;
		flex-direction: column;
}

	.min-range-container,
	.max-range-container {
		width: 100%;
}

	.user-input,
	.history {
		width: 100%;
}

	.bottom-buttons {
	  align-items: center;
	  flex-direction: column;
}

	.submit-guess,
	.reset-game,
	.clear-game {
		width: 90%;
}

	.challenger-one,
    .challenger-two {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
}

	.latest-score {
		align-items: center;
		flex-direction: column;
}

	.latest-score div {
		width: 100%;
}

	#challenger-1-line {
		border-right: none;
	

	history {
		font-size: 75%;
}

	.card-title-container {
		flex-direction: column;
		text-align: center;
}

	.min-range,
	.max-range,
	.challenger-1,
	.challenger-2,
	.guess-1,
	.guess-2 {

		border: solid 1px #D0D2D3;
}


	





